* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #f8f4f3; 
    padding: 6px;
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
}

.logo > img {
    width: 100%;
}

/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 250px;
}

.bitcoin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bitcoin > img {
    width: 50%;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.coin {
    background: #e79f27;
    color: #6e3321;
    font-size: 1rem;
    font-weight: bold;
    width: 150px;
    border: none;
    outline: none;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 20px;
}

.play {
    background: #e79f27;
    color: #6e3321;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    outline: none;
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 20px;
}