* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #f8f4f3; 
}

/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 120px;
}

.logo > img {
    width: 100%;
}

/* Main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.bitcoin {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bitcoin > img {
    width: 50%;
}

/* Footer */